
.vs/EzElo/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
EzEloReactProject/.vs/EzEloReactProject/config/applicationhost.config
EzEloReactProject/.vs/EzEloReactProject/v16/.suo
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/1.pack
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/5.pack
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/index.pack
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/index.pack.old
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.assets.cache
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.csproj.AssemblyReference.cache
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.GeneratedMSBuildEditorConfig.editorconfig
EzEloReactProject/EzEloReactProject/obj/Release/netcoreapp3.1/EzEloReactProject.assets.cache
EzEloReactProject/EzEloReactProject/obj/Release/netcoreapp3.1/EzEloReactProject.GeneratedMSBuildEditorConfig.editorconfig
EzEloReactProject/.vs/EzEloReactProject/v16/.suo
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/1.pack
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/index.pack
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/index.pack.old
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.assets.cache
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.csproj.AssemblyReference.cache
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.GeneratedMSBuildEditorConfig.editorconfig
EzEloReactProject/EzEloReactProject/obj/Release/netcoreapp3.1/EzEloReactProject.assets.cache
EzEloReactProject/EzEloReactProject/obj/Release/netcoreapp3.1/EzEloReactProject.GeneratedMSBuildEditorConfig.editorconfig
EzEloReactProject/.vs/EzEloReactProject/v16/.suo
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/1.pack
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/index.pack
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/index.pack.old
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.assets.cache
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.csproj.AssemblyReference.cache
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.GeneratedMSBuildEditorConfig.editorconfig
EzEloReactProject/EzEloReactProject/obj/Release/netcoreapp3.1/EzEloReactProject.assets.cache
EzEloReactProject/EzEloReactProject/obj/Release/netcoreapp3.1/EzEloReactProject.GeneratedMSBuildEditorConfig.editorconfig
EzEloReactProject/.vs/EzEloReactProject/v16/.suo
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/1.pack
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/index.pack
EzEloReactProject/EzEloReactProject/ClientApp/node_modules/.cache/default-development/index.pack.old
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.assets.cache
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.csproj.AssemblyReference.cache
EzEloReactProject/EzEloReactProject/obj/Debug/netcoreapp3.1/EzEloReactProject.GeneratedMSBuildEditorConfig.editorconfig
EzEloReactProject/EzEloReactProject/obj/Release/netcoreapp3.1/EzEloReactProject.assets.cache
EzEloReactProject/EzEloReactProject/obj/Release/netcoreapp3.1/EzEloReactProject.GeneratedMSBuildEditorConfig.editorconfig
